<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Funcioanrio</title>
    <link rel="icon" href="./imagens/Logo.jpeg" type="image/jpeg">
    <link th:href="@{'/css/' + ${css} + '.css'}" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="./imagens/Logo.jpeg" alt="Logo da Empresa" class="logo-img">
            </div>
            <h1><b>Estacionamento JeffPark!!!<br>Tela de Cadastrar Funcionario.</b></h1>
            <nav class="pesquisa">
                <input type="text" placeholder="O que você está procurando?">
                <button class="btn btn-primary">Pesquisar</button>
            </nav>
        </div>
    </header>


    <main class="container my-5">
        <h2 class="text-center mb-4">Cadastrar Novo Funcionário</h2>

      
        <form action="#" th:action="@{/guardarFuncionario}" method="POST" id="formFuncionario" th:object="${funcionario}">

          
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                
                <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Digite o nome do funcionário" required>
            </div>

            <!-- Campo de código do funcionário com Thymeleaf -->
            <div class="mb-3">
                <label for="codigoFuncionario" class="form-label">Código do Funcionário:</label>
                <!-- th:field usa a propriedade id da classe Funcionario -->
                <input type="text" class="form-control" id="codigoFuncionario" th:field="*{id}" placeholder="Digite o código do funcionário" required>
            </div>

            <!-- Campo de cargo com Thymeleaf -->
            <div class="mb-3">
                <label for="cargo" class="form-label">Cargo:</label>
                <!-- th:field usa a propriedade cargo da classe Funcionario -->
                <input type="text" class="form-control" id="cargo" th:field="*{cargo}" placeholder="Digite o cargo do funcionário" required>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                
                <button type="reset" class="btn btn-warning">Limpar</button>

                <a href="index.html" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </main>

    <footer>
        <div class="left">
            <img src="./Imagens/telefone.webp" alt="Telefone">
            <p>Contato: (11)2021-1256</p>
            <img src="./Imagens/whatsapp.svg" alt="WhatsApp">
            <p>WhatsApp: (11)95252-1236</p>
        </div>
        <div class="center">
            <img src="./Imagens/facebook.svg" alt="Facebook">
            <p>Facebook: @emprestimo-online</p>
            <img src="./Imagens/instagram.svg" alt="Instagram">
            <p>Instagram: #emprestimo-online</p>
        </div>
        <div class="right">
            <img src="./Imagens/tiktok.jfif" alt="TikTok">
            <p>TikTok: #emprestimo-online</p>
            <img src="./Imagens/youtube.svg" alt="YouTube">
            <p>Youtube: emprestimos-online</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
